h1, h2, span, a {
  font-family: 'Amarante', cursive;
}
p, figcaption, cite {
  font-family: 'Roboto', sans-serif;
}
nav a, a {
  text-decoration: none;
  color: black;
}
ul li {
  display: inline-flex;
  color: black;
}
nav, footer {
  background-color: #373332;
}
body {
  background-color: #8A817E;  
  margin: 0;
}
a button {
  background-color: #8A817E;
}
button span{
  color: black;
}