nav {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}
span {
  color: #94a0aa;
  padding-left: 10px;
}
a img {
  width: 100%;
  min-width: 100px;
  max-width: 100px;
  padding: 5px 0px 10px 15px;

}
nav a, ul li, footer {
  display: flex;
  align-items: center;
}
ul li {
  background-color: #94a0aa;
  padding: 5px 5px;
  border-radius: 5px;
  margin: 7px;
}
main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 1rem;
  margin-left: 20px;
  margin-right: 20px;
}
img {
  max-width: 100%;
}
figure {
  background-color: #DBD9D8;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 20px;
}
figcaption {
min-width: 20ch

}